.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    max-width: 70%;
  }
  
  .popup-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .popup-card p {
    margin-bottom: 20px;
  }
  .inp-box-container{
    display: flex;
    align-items: center;
    width: 400px;
    height: 60px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;

  }
  .inp-box-container input , 
  .inp-box-container textarea{
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
  }
  
  .popup-card button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .popup-card button:hover {
    background-color: #0c7cd5;
  }
  