.table-container {
    width: 100%;
    overflow-x: auto;
  }
  .head-tr{
    text-align: center;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-table thead {
    background-color: #f5f5f5;
  }
  
  .product-table th,
  .product-table td {
    padding: 12px;
    text-align: left;
    text-align: center;
  }
  
  .product-table th {
    font-weight: bold;
    color: #333333;
  }
  
  .product-table td {
    color: #666666;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .btn-view,
  .btn-update,
  .btn-delete {
    border-radius: 30px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
  margin:  5px;

  box-shadow: 0 3px 10px rgba(109, 62, 4, 0.421);
  transition:  0.3s ease;
  }
  
  .btn-view:hover,
  .btn-update:hover,
  .btn-delete:hover {
      background-color: #984a05; 
      color:white;
      box-shadow: 0 5px 15px rgba(109, 62, 4, 0.421);
  }
  